* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a, li {
  display: inline-block;
  text-decoration: none;
  list-style: none;
  font-style: none;
  text-shadow: none;
}

ul {
  padding: 0;
}

main {
  min-height: 100vh;
  max-width: 100vw;
  background-color: #2d2d2d;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

header {
  background-color: #2d2d2d;
  height: 120px;
  max-width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 10px double #8598cd;
}
header nav {
  display: flex;
  align-items: center;
  justify-content: center;
}
header nav img {
  height: 100px;
  width: 100px;
}
header nav h1 {
  font-size: 50px;
  padding: 0 50px;
  color: #343E6B;
}
header nav h1 span {
  font-size: 60px;
  color: #8598cd;
}

footer {
  background-color: #2d2d2d;
  height: 150px;
  max-width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 10px double #8598cd;
}

#sectionCotizacion {
  display: flex;
  align-items: center;
  flex-direction: column;
}
#sectionCotizacion #cotizacion {
  display: flex;
  align-items: center;
  flex-direction: column;
}
#sectionCotizacion #cotizacion #intro {
  display: flex;
  gap: 5rem;
  background-color: #343E6B;
  justify-content: center;
  align-items: center;
  padding: 0 5rem;
  border-radius: 1rem;
  height: 3rem;
}
#sectionCotizacion #cotizacion #intro div {
  position: absolute;
  width: 100%;
  border-bottom: 10px solid #343E6B;
}
#sectionCotizacion #cotizacion #intro h2, #sectionCotizacion #cotizacion #intro p {
  display: inline-flex;
  flex-direction: row;
  font-size: 2.2rem;
  color: #8598cd;
  position: relative;
}
#sectionCotizacion #moneda {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#sectionCotizacion #moneda .tipoMoneda {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 5rem;
  border-bottom: 2px solid #8598cd;
  height: 4rem;
}
#sectionCotizacion #moneda .tipoMoneda h3, #sectionCotizacion #moneda .tipoMoneda p {
  font-size: 2rem;
  color: #8598cd;
}

p {
  width: 150px;
  display: flex;
  justify-content: center;
}

h2, h3 {
  width: 150px;
  display: flex;
  justify-content: center;
}

.cotizacionDelDia {
  justify-content: center;
  font-size: 4rem;
  display: flex;
  padding-bottom: 10px;
  color: #343E6B;
  padding-top: 5rem;
  padding-bottom: 1rem;
  width: auto;
}

#realizarCambio {
  padding-top: 5rem;
}
#realizarCambio article {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 10px solid #343E6B;
}
#realizarCambio article div {
  display: flex;
  padding: 0 1rem;
  font-size: 1.6rem;
  align-items: baseline;
}
#realizarCambio article div select {
  font-size: 1.6rem;
  border-radius: 10px;
  background-color: #8598cd;
  width: 20rem;
  border: 0;
}
#realizarCambio #cantidad-monto {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#realizarCambio #cantidad-monto label {
  position: absolute;
  padding: 0 10px;
  align-self: flex-start;
}
#realizarCambio #cantidad-monto input {
  border: 0;
  margin: 0;
  font-size: 1.6rem;
  border-radius: 10px;
  background-color: #8598cd;
  padding-left: 25px;
  margin-left: 2px;
  width: 20rem;
}
#realizarCambio #cantidad-monto p {
  padding-top: 5px;
  font-size: 0.8rem;
  width: max-content;
}
#realizarCambio #botones {
  gap: 40px;
}
#realizarCambio #botones button {
  font-size: 1.6rem;
  border-radius: 10px;
  background-color: #8598cd;
  margin-top: 30px;
  width: max-content;
  padding: 5px 20px;
}
#realizarCambio #resultado {
  margin: 2rem 0;
  width: 60%;
  height: 200px;
  background-color: #8598cd;
  border: 4px solid #343E6B;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
#realizarCambio #resultado span {
  font-size: 1.8rem;
}

.historial p {
  display: flex;
  justify-content: flex-start;
  padding: 20px 50px;
  width: 100%;
  color: #8598cd;
  border-bottom: 2px solid #343E6B;
}

/*# sourceMappingURL=style.css.map */
