* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a, li {
  display: inline-block;
  text-decoration: none;
  list-style: none;
  font-style: none;
  text-shadow: none;
}

ul {
  padding: 0;
}

main {
  min-height: 100vh;
  max-width: 100vw;
  background-color: #2d2d2d;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

header {
  background-color: #2d2d2d;
  height: 100px;
  max-width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 10px double #8598cd;
}
header nav {
  display: flex;
  align-items: center;
  justify-content: center;
}
header nav img {
  height: 80px;
  width: 80px;
}
header nav h1 {
  font-size: 50px;
  padding: 0 50px;
  color: #343E6B;
}
header nav h1 span {
  font-size: 60px;
  color: #8598cd;
}

footer {
  background-color: #2d2d2d;
  height: 150px;
  max-width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 10px double #8598cd;
}

main {
  display: flex;
  align-items: center;
  padding-top: 100px;
  flex-direction: column;
  max-width: 100vw;
}
main .box-cambio {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  width: 60vw;
  background-color: aliceblue;
  border-radius: 12px;
  padding: 100px 0;
  box-shadow: 0px 10px 15px -5px #8598cd;
}
main .box-cambio .operacion {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 100px;
}
main .box-cambio .operacion .select-moneda {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}
main .box-cambio .operacion .select-moneda #moneda {
  font-size: 1.2rem;
  padding-right: 50px;
  width: 300px;
}
main .box-cambio .operacion .select-opera {
  display: flex;
  flex-direction: column;
  gap: 10px;
  transition: 1s;
}
main .box-cambio .operacion .select-opera #change-type {
  font-size: 1.2rem;
  width: 200px;
}
main .box-cambio .operacion .select-monto {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
main .box-cambio .operacion .select-monto #monto {
  font-size: 1.2rem;
  width: 300px;
}
main .box-cambio .taza-op {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 100px;
}
main .box-cambio .taza-op #taza {
  justify-content: right;
  font-size: 1.5rem;
}
main .box-cambio .taza-op #monto-op {
  font-size: 1.2rem;
}
main .box-cambio .botones {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 100px;
}
main .box-cambio .botones #realizar {
  font-size: 1.2rem;
  color: #8598cd;
  background-color: #2d2d2d;
  padding: 10px 20px;
}
main .box-cambio .botones #borrar {
  font-size: 1.2rem;
  color: #8598cd;
  background-color: #2d2d2d;
  padding: 10px 20px;
}
main #histo {
  display: flex;
  align-items: start;
  justify-content: start;
  width: 80%;
  margin: 50px;
  padding: 10px;
  color: #8598cd;
  border-radius: 8px;
  background-color: rgb(33, 33, 33);
  flex-direction: column;
}
main #histo span {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}
main #histo p {
  padding: 10px;
}

select, button, input {
  border: none;
  outline: none;
  border-radius: 5px;
  box-shadow: 0px 0px 8px #2d2d2d;
  padding: 8px;
}

.swal2-actions {
  gap: 20px;
}
.swal2-actions .swal2-cancel {
  padding: 10px;
  font-size: 1.1rem;
  color: #8598cd;
  background-color: #2d2d2d;
}
.swal2-actions .swal2-confirm {
  padding: 10px;
  font-size: 1.1rem;
  color: #8598cd;
  background-color: #2d2d2d;
}

/*# sourceMappingURL=style.css.map */
