main {
    padding: 40px;
    section {
        border-radius: 50px;
        background-color: #8598cd;
        height: 80vh;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas:
            "dolar" "euro" "real" "libra";
        .dolar,
        .euro,
        .libra,
        .real {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            h2{
                font-size: 50px;
                display: flex;
                align-items: baseline;
                justify-content: center;
                color: #2d2d2d;
                border-bottom: 5px solid #2d2d2d;
            }
            img{    
                height: 50%;
                width: 80%;
                margin: 20px;
                border-radius: 10px;
            }
            .compraYventa {
                display: grid;
                display: flex;
                flex-direction: row;
                    .tipo {
                        .compra,
                        .venta {
                            font-size: 30px;
                            padding: 10px;
                            border: 1px solid #343E6B;
                            color: #343E6B;
                        }
                    }
                    .precios {
                        .precioCompra,
                        .precioVenta {
                            font-size: 30px;
                            padding: 10px;
                            border: 1px solid #343E6B;
                            color: #343E6B;
                        }
                    }
                }
            
        }
    }
}